:root {
  --primary-color: #F4D3D2;
  --secondary-color: #5b484c;
  --primary-font: 'Roboto';
  --secondary-font: 'Mea Culpa';
  --font-size: 20px;
  --primary-font-color: #4c4c4c;
  --secondary-font-color: #ffffff;
}
div{
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--font-size);
}
div .secondary {
  position: absolute;
  left: 48px;
  top: 119px;
  height: 340px;
  width: 777px;
  border: 2px solid;
  border-radius: 0px;
  background-color: var(--secondary-color);

}
.Body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 1024px;
  width: 1440px;
  border-radius: 0px;
  border: 2px solid;
  background: #ffffff;
  margin: 0;
}
.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  height: 74px;
  width: 1440px;
  border: 2px solid;
  border-radius: 0px;
  background: #F4D3D2;
}
.BoxImg {
  position: absolute;
  left: 48px;
  top: 119px;
  height: 340px;
  width: 777px;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxTxt {
  position: absolute;
  left: 57px;
  top: 512px;
  height: 198px;
  width: 768px;
  font-size: 40px;
  color: #5c484d;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxContacts {
  position: absolute;
  left: 48px;
  top: 725px;
  height: 252px;
  width: 888px;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxFamous {
  position: absolute;
  width: 435px;
  height: 875px;
  left: 957px;
  top: 149px;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}


.NavBar {
  position: fixed;
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 10;
  top: 0px;
  height: 74px;
  width: 100%;
}
.NavImg {
height: 47px;
margin-left: 48px;
margin-top: 15px;
}
.rightContent {
  margin: 88px 48px 0px;
  width: 66%
}
.BoxImg {
  position: absolute;
  left: 48px;
  top: 119px;
  height: 340px;
  width: 777px;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxTxt {
  position: absolute;
  left: 57px;
  top: 512px;
  height: 198px;
  width: 768px;
  font-size: 40px;
  color: #5c484d;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxContacts {
  position: absolute;
  left: 48px;
  top: 725px;
  height: 252px;
  width: 888px;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;

}
.BoxFamous {
  position: absolute;
  width: 435px;
  height: 875px;
  left: 957px;
  top: 149px;
  text-align: left;
  border: 2px solid;
  border-radius: 0px;
  background: #ffffff;
}